h1 {color:orange;font-family: helvetica;
background-color: darkred;
border:10px solid orangered;
padding: 30px;
}

p {color:orange;
}

body {background-color:black;}

IMG {
	width: 25%;
	height: 25%;
	margin-left: 600px;
}

#highlight {
	color:orange;
}